{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mb-3">Poll Questions</h1>
{% if latest_question_list %}
    <form action="{% url 'polls:vote' %}" method="post">
    {% for question in latest_question_list %}
        {% csrf_token %}
        {{ question }} <br />
        <fieldset>
        {% for choice in question.choice_set.all %}
            <input type="radio" name="{{ question }}" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice }}</label><br />
        {% endfor %}
        </fieldset>
    {% endfor %}
    <input type="submit" value="Vote" />
    </form>
{% else %}
    <p>No polls available.</p>
{% endif %}
{% endblock %}